<%+ipsec-module/ipsec_css%>

    <div class="cbi-section">
        <h3>
            <a href="<%=url('admin/vpn/ipsecvpn')%>">
                <%:Overview%>
            </a> &#187;
            <%=luci.i18n.translatef("Instance \"%s\"", self.instance)%>
        </h3>
        <%:Configuration category%>:
            <% for i, c in ipairs(self.categories) do %>
                <% if c == self.category then %>
                    <strong><%=translate(c)%></strong>
                    <% else %>
                        <a href="<%=url('admin/vpn/ipsecvpn/advanced', self.instance, c)%>">
                            <%=translate(c)%>
                        </a>
                        <% end %>
                            <% if next(self.categories, i) then %>|
                                <% end %>
                                    <% end %>
    </div>